$default-font-size-tokens: (
  body: (
    base: 16px,               
    sm: 14px, 
    md: 16px,   
    lg: 18px,
  ),
  heading: (
    h1: 32px,  
    h2: 28px,     
    h3: 24px,  
    h4: 20px,     
    h5: 18px,    
    h6: 16px,
  ),
  small: (
    base: 12px,
    sm: 10px,
  ),
);