$default-font-weight: (
  body: (
    normal: 400,              
    bold: 700,
  ),
  heading: (
    h1: 700,
    h2: 600,
    h3: 500,   
    h4: 400,
    h5: 400, 
    h6: 400,
  ),
  small: (
    normal: 400, 
  ),
);