@use "./../default/sizing" as sizing;
@use "./../default/breakpoints" as breakpoints;
@use "sass:string";

@mixin set-sizing-mixins($tokens: sizing.$default-sizing) {
  @each $breakpoint-role, $breakpoint-value in breakpoints.$breakpoints {
    @media (min-width: $breakpoint-value) {
      @each $sizing-role, $variants in $tokens {
        @each $variant, $value in $variants {
          $first-letter: string.slice(#{$sizing-role}, 1, 1);

          .#{$breakpoint-role}\:w-#{$first-letter}-#{$variant} {
            width: var(--sizing-#{$sizing-role}-#{$variant});
          }
          .#{$breakpoint-role}\:h-#{$first-letter}-#{$variant} {
            height: var(--sizing-#{$sizing-role}-#{$variant});
          }
        }
      }
    }
  }
}
