@use "./../default/sizing" as sizing;
@use "sass:string";

@mixin set-sizing-classes($tokens: sizing.$default-sizing) {
  @each $sizing-role, $variants in $tokens {
    @each $variant, $value in $variants {
      $first-letter: string.slice(#{$sizing-role}, 1, 1);

      .w-#{$first-letter}-#{$variant} {
        width: var(--sizing-#{$sizing-role}-#{$variant});
      }
      .h-#{$first-letter}-#{$variant} {
        height: var(--sizing-#{$sizing-role}-#{$variant});
      }
    }
  }
}
