@use 'variables' as *;

$color-tokens: (
    color: (
      primary-5: $purple-50,
      primary-10: $purple-100,
      primary-20: $purple-200,
      primary-30: $purple-300,
      primary-40: $purple-400,
      primary-50: $purple-500,
      primary-60: $purple-600,
      primary-70: $purple-700,
      primary-80: $purple-800,
      primary-90: $purple-900,
      primary-95: $purple-950,
      grayscale-0: $gray-0,
      grayscale-10: $gray-100,
      grayscale-20: $gray-200,
      grayscale-30: $gray-300,
      grayscale-40: $gray-400,
      grayscale-50: $gray-500,
      grayscale-60: $gray-600,
      grayscale-70: $gray-700,
      grayscale-80: $gray-800,
      grayscale-90: $gray-900,
      grayscale-95: $gray-950,
      grayscale-100: $gray-1000
    )
);