$blue-600: #2973a0;
$color-primary-60: $blue-600;
$brand-base: $color-primary-60;
$blue-800: #204e6c;
$color-primary-80: $blue-800;
$brand-dark: $color-primary-80;
$brand-border-primary: $brand-dark;
$blue-100: #e6f0f8;
$color-primary-10: $blue-100;
$brand-light: $color-primary-10;
$brand-font-heading: $brand-dark;
$gray-1000: #000000;
$color-grayscale-100: $gray-1000;
$brand-black: $color-grayscale-100;
$brand-font-base: $brand-black;
$gray-0: #ffffff;
$color-grayscale-0: $gray-0;
$brand-white: $color-grayscale-0;
$brand-bg-light: $color-grayscale-0;
$brand-bg-dark: $brand-dark;
$blue-200: #c7e1f0;
$color-primary-20: $blue-200;
$brand-bg-primary: $color-primary-20;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 16px;
$spacing-4: 24px;
$spacing-5: 32px;
$spacing-6: 40px;
$spacing-7: 48px;
$spacing-8: 56px;
$spacing-9: 64px;
$spacing-10: 72px;
$border-color-brand: $brand-border-primary;
$border-radius-square: 0px;
$border-radius-m: 16px;
$border-radius-container: $border-radius-m;
$border-radius-l: 48px;
$border-radius-button: $border-radius-l;
$border-radius-circle: 100px;
$border-radius-xs: 4px;
$border-radius-s: 8px;
$border-radius-xl: 64px;
$blue-50: #f3f8fc;
$color-primary-5: $blue-50;
$blue-300: #96c7e3;
$color-primary-30: $blue-300;
$blue-400: #5eaad2;
$color-primary-40: $blue-400;
$blue-500: #3a8fbd;
$color-primary-50: $blue-500;
$blue-700: #235d81;
$color-primary-70: $blue-700;
$blue-900: #20435a;
$color-primary-90: $blue-900;
$blue-950: #152b3c;
$color-primary-95: $blue-950;
$gray-100: #e7e7e7;
$color-grayscale-10: $gray-100;
$gray-200: #d1d1d1;
$color-grayscale-20: $gray-200;
$gray-300: #b0b0b0;
$color-grayscale-30: $gray-300;
$gray-400: #888888;
$color-grayscale-40: $gray-400;
$gray-500: #6d6d6d;
$color-grayscale-50: $gray-500;
$gray-600: #5d5d5d;
$color-grayscale-60: $gray-600;
$gray-700: #4f4f4f;
$color-grayscale-70: $gray-700;
$gray-800: #454545;
$color-grayscale-80: $gray-800;
$gray-900: #3d3d3d;
$color-grayscale-90: $gray-900;
$gray-950: #181818;
$color-grayscale-95: $gray-950;
$gray-50: #f6f6f6;
$purple-50: #fbf7fc;
$purple-100: #f7eef9;
$purple-200: #efdcf2;
$purple-300: #e2c0e7;
$purple-400: #d29ad8;
$purple-500: #bb71c4;
$purple-600: #a152a7;
$purple-700: #7e3e82;
$purple-800: #6e3771;
$purple-900: #5c315e;
$purple-950: #3a173b;